@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-th-cream rounded-md;
  }
  * {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-th-dark text-th-white;
  }
}

@layer components {
  .main {
    @apply md:ml-[330px] my-[80px] md:my-[50px] md:mr-[30px] mx-[30px];
  }
}
